.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: 0rem .88rem;
    background-color: whitesmoke;
    color: #191414;
    border-radius: 30px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom: 2rem;
    }
}

.SearchResultInfo {
    color: #191414;
}

h2 {
    font-size: 1.7rem;
    margin: auto;
    padding: 1rem;
    padding-top: 2.7rem;
    text-align: left;
}